@use "../../styles/partials/colors" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;

.user-impression {
  margin: 0.8rem 0 0.5rem 0;

  @include tablet {
    margin: 1rem 0 1rem 2rem;
  }

  @include desktop {
    margin: 1rem 0 1rem 2rem;
  }

  &__icon {
    margin-right: 8px;
  }

  &__value {
    color: $silver;
  }
}
