@use "../../styles/partials/colors" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;

.next-video {
  margin: 1rem;

  &__heading {
    font-size: 13px;
    line-height: 18px;
    font-weight: 700;
    color: $silver;
    text-align: left;
    @include desktop {
      margin-top: 2rem;
    }
  }

  &__list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    padding: 0;
  }
}
