@use "../../styles/partials/global" as *;
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;

.controls {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 10px;
  left: 20px;

  &__play {
    background: rgba(0, 0, 0, 0.5);
    padding: 3px 12px 0 12px;
    border-radius: 6px;
    border: none;
  }

  &__icon {
    background: rgba(0, 0, 0, 0.5);

    width: 12px;
    height: 12px;

    //opacity: 50%;
  }

  &__range {
    display: flex;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    padding: 2px 7px 2px 7px;
    margin: 0 4px 0 4px;
    border-radius: 4px;
    border: none;
  }

  &__label {
    color: $white;
    font-size: 10px;
    font-weight: 700;
  }

  &__extra {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background: rgba(0, 0, 0, 0.5);
    padding: 3px 12px 0 12px;
    border-radius: 4px;
    border: none;
  }
}

/*linear-gradient(
      rgba(50, 50, 50, 0.5),
      rgba(50, 50, 50, 0.5)
    ),
    url("../assets/images/hero-bio.jpg");*/
