@use "../../styles/partials/colors" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;

.conversation {
  background-color: $white;
  padding: 0 1rem 0 1rem;

  @include tablet {
    margin: 0 2.5rem 0 2.5rem;
    padding: 0;
  }

  @include desktop {
    margin: 0 1.5rem 0 0;
    padding: 0;
  }

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;

    @include tablet {
      justify-content: space-between;
      align-items: flex-end;
    }

    @include desktop {
      align-items: flex-end;
    }
  }

  &__avatar {
    background-image: url(../../assets/images/Mohan-muruge.jpg);

    /* make a square container */
    width: 2.25rem;
    height: 2.25rem;

    /* fill the container, preserving aspect ratio, and cropping to fit */
    background-size: cover;

    /* center the image vertically and horizontally */
    background-position: top center;

    /* round the edges to a circle with border radius 1/2 container size */
    border-radius: 50%;

    background-color: $mercury;

    margin-bottom: 2rem;
    @include tablet {
      margin-bottom: 1rem;
    }
  }
}

.comment-form {
  display: flex;
  flex-direction: column;
  flex-grow: 2;

  @include tablet {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }

  @include desktop {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__label {
    font-family: "Avenir-Next";
    font-weight: 700;
    line-height: 20px;
    font-size: 12px;
    color: $silver;
    padding-bottom: 4px;
    text-align: left;

    @include tablet {
      flex-grow: 3;
      font-size: 12px;
    }
    @include desktop {
      flex-grow: 3;
    }
  }

  &__input-container {
    margin: 1rem 0 0 1rem;

    display: flex;
    flex-direction: column;

    @include tablet {
      flex-grow: 2;
      margin: 1rem 0 1rem 1rem;
    }

    @include desktop {
      flex-grow: 2;
      margin: 1rem 1rem 1rem 1rem;
    }
  }

  &__text {
    font-family: "Avenir-Next";
    background: $alabaster;

    width: 100%;
    border-radius: 4px;
    border: 1px solid $silver;
    padding: 0.75rem;

    @include tablet {
      height: 40px;
      padding: 0.5rem 1.5rem 1rem 1rem;
    }

    @include desktop {
      height: 40px;
      padding: 0.5rem 1.5rem 1rem 1rem;
    }

    :valid {
      border: 1px solid $mercury;
    }
  }

  textarea::placeholder {
    font-family: "Avenir-Next";
    color: $brainflix-black;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;

    @include tablet {
      font-weight: 400;
      font-size: 14px;
      line-height: 22px;
    }

    @include desktop {
      font-weight: 400;
      font-size: 14px;
      line-height: 22px;
    }
  }

  &__button-container {
    margin: 1rem 0 0 1rem;
    display: flex;
    justify-content: flex-end;

    @include tablet {
      margin: 1rem 0 1rem 1rem;
    }
  }

  &__button {
    background-color: $brainflix-blue;
    color: $white;
    font-weight: 700;
    height: 40px;
    border-radius: 4px;
    border: none;
    width: 100%;
    background-image: url(../../assets/images/Icons/add_comment.svg);
    background-repeat: no-repeat;
    background-position: 0.5rem 50%;

    @include tablet {
      min-width: 150px;
      max-width: 160px;
      padding: 0 32px 0 32px;
    }

    @include desktop {
      min-width: 150px;
      max-width: 160px;
      padding: 0 32px 0 32px;
    }
  }

  &__button:hover {
    background-color: $brainflix-darkblue;
  }
}
