@use "../../styles/partials/global" as *;
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;

.uploadform {
  &__container {
    @include tablet {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    @include desktop {
    }
  }

  &__form {
    @include tablet {
      display: flex;
      flex-direction: row;
      padding: 1rem;
    }

    @include desktop {
    }
  }

  &__button {
    background-color: $brainflix-blue;
    color: $white;
    font-weight: 700;
    height: 42px;
    border-radius: 4px;
    border: none;
    width: 100%;
    background-image: url(../../assets/images/Icons/upload.svg);
    background-repeat: no-repeat;
    background-position: 0.5rem 50%;

    @include tablet {
      width: 30%;
      min-width: 150px;
      max-width: 160px;
      height: 40px;
      padding: 0 32px 0 32px;
      margin: 0 1.5rem 0 1.5rem;
    }

    @include desktop {
      min-width: 150px;
      max-width: 160px;
      padding: 0 32px 0 32px;
    }
  }

  button:hover {
    background-color: $brainflix-black;
  }

  &__avatar {
    background-image: url(../../assets/images/Mohan-muruge.jpg);

    /* make a square container */
    max-width: 2.25rem;
    max-height: 2.25rem;
    width: 2.25rem;
    height: 2.25rem;

    /* fill the container, preserving aspect ratio, and cropping to fit */
    background-size: cover;

    /* center the image vertically and horizontally */
    background-position: top center;

    /* round the edges to a circle with border radius 1/2 container size */
    border-radius: 50%;

    background-color: $mercury;

    margin-bottom: 1rem;

    @include tablet {
      max-width: 2.5rem;
      max-height: 2.5rem;
      width: 2.5rem;
      height: 2.5rem;
    }
  }

  &__box {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;

    @include tablet {
      flex-wrap: nowrap;
      flex-direction: row-reverse;
    }
  }

  &__input {
    font-family: "Avenir-Next";
    background: $alabaster;
    width: 74%;
    height: 36px;
    border-radius: 4px;
    border: 1px solid $mercury;

    padding: 0.75rem 0 0.75rem 2rem;

    position: absolute;
    left: 1rem;
    background-image: url(../../assets/images/Icons/search.svg);
    background-repeat: no-repeat;
    background-position: 0.5rem 50%;

    @include tablet {
      position: inherit; // removes position absolute
      height: 40px;
      width: 240px;
    }

    input:focus::after {
      border: 1px solid $brainflix-black;
    }

    input:valid {
      border: 1px solid $mercury;
    }

    input:invalid {
      border: 1px solid #d22d2d;
    }

    ::placeholder {
      color: $brainflix-black;
      font-weight: 700;
      font-size: 13px;
      line-height: 18px;

      @include tablet {
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
      }

      @include desktop {
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
      }
    }
  }
}
