@use "../../styles/partials/colors" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;

.main {
  display: flex;
  flex-direction: column;

  @include desktop {
    flex-direction: row;
    margin-left: 5rem;
  }
}

.video-details {
  @include desktop {
    border-right: 1px solid $silver;
    width: 59%;
  }
}
