@use "../../styles/partials/colors" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;

.main-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 1rem 0 1rem;

  @include tablet {
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5rem 0.5rem 0 0.5rem;
  }

  @include desktop {
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5rem 5rem 0.5rem 5rem;
  }

  &__container {
    display: flex;
    justify-content: center;

    @include tablet {
      justify-content: flex-start;
    }

    @include desktop {
      justify-content: flex-start;
    }
  }

  &__logo {
    max-width: 7.5rem;
    max-height: 1.563rem;
    margin: 1rem 0 1rem 0;

    @include tablet {
      margin: 1.5rem 1rem 0 1rem;
    }
  }
}
