@use "../../styles/partials/colors" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;

.video-item {
  text-decoration: none;
  color: $brainflix-black;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  margin: 0.5rem 0 0.5rem 0;

  &__image {
    width: 6.625rem;
    height: 4rem;
    object-fit: cover;
    border-radius: 5px;
    background-color: $mercury;
  }

  &__image-box {
    margin: 0 1rem 0 0;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 11.25rem;

    @include tablet {
      width: 10.625rem;
    }

    @include desktop {
      width: 10.625rem;
    }
  }

  &__title {
    font-size: 13px;
    line-height: 1.125rem;
    font-weight: 700;
    color: $brainflix-black;
    text-align: left;
    margin: 0 0 0.2rem 0;
  }

  &__channel {
    font-size: 13px;
    line-height: 1.125rem;
    font-weight: 400;
  }
}
